.input-text {
    font-family: 'Rosario';
    display: block;
    width: 50%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    background-clip: padding-box;
    border: 3px solid #183425;
    border-radius: 85px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
